@mixin flexprob {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin bar {
    width: 2.5rem;
    height: 2px;
    background-color: #4c9ef1;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
}

@mixin menu {
    color: $menu-color;
    font-weight: 500;
    padding: 10px 0 10px 24px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

@mixin flex-prob {
    display: flex;
    flex-wrap: wrap;
}

@mixin none {
    display: none;
}

@mixin bnr-heading-h {
    color: $primary-color;
    line-height: 1.2;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 1px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
    position: relative;
}

@mixin bnr-p-h {
    font-family: "Roboto", sans-serif;
    color: $primary-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}